{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'app_social/css/profile.css' %}">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mx-auto">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>Welcome, User</h5>
                        <form class="d-flex" role="search">
                            <div class="input-group">
                                <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-dark btn-sm" type="submit">Search</button>
                            </div>
                        </form>
                        <div class ="icon me-2">
                        <i class="fa-solid fa-user-group"></i>
                        <i class="fa-solid fa-comment"></i>
                        <i class="fa-solid fa-bell"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Inner card -->
                    <div class="card-header">
                        <div class="profile-container">
                            <div class="d-flex align-items-center">
                                <!-- User Profile Picture -->
                                <img src="{% static 'app_social/images/img1.jpg' %}" class="circle-image me-2" style="height: 50px; border-radius: 50%;" alt="User Profile">
                                <div>
                                    <h5 class="mb-0">User's Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                        </div>
                        
                        <div class="card-body">
                            <img src="..." class="img-thumbnail" alt="...">
                            <p>This is the content of the post.</p>
                        <hr>
                            <!-- Like and Comment buttons -->
                            <div class="d-flex justify-content-start align-items-center">
                                <button type="button" class="btn btn-dark me-2"><i class="fa-regular fa-thumbs-up"></i></button>
                                <button type="button" class="btn btn-dark me-2" data-toggle="modal" data-target="#commentModal">
                                    <i class="fa-regular fa-comment"></i>
                                </button>
                                <button type="button" class="btn btn-dark">Browese Comments</button>                         
                            </div>  
                            <hr>                      
                        </div>
                    </div>
                    <!-- End Inner card -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Post a Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add content for the comment modal here -->
                <label for="commentTextarea" class="form-label">Your Comment:</label>
                <textarea class="form-control" id="commentTextarea" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Post Comment</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
